.download{
	border: 1px solid transparent;
}
.download:hover{
	cursor: pointer;
}
.min{
	width: 63px;
}
th{
	text-align: center;
}
table>tbody>tr>td{
	vertical-align: middle !important;
}
table>tbody>tr>td:nth-child(2){
	width: 150px;
}