body {
    background: #e9ebee;
}

ul#list-groups {
    /*overflow: auto;*/
}
/*li*/
ul#list-groups li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: none;
    padding: 5px;
}
ul#list-groups li:hover{
    background: #fff;
}
/*img*/
ul#list-groups li img{
    width: 20px;
    vertical-align: center;
}
/*a*/
ul#list-groups li a {
    color: #1d2129;
}
/*post*/
.post {
    word-wrap: break-word;
    max-width: 500px;
    margin-bottom: 10px;
    /*padding: 10px;*/
    /*border: 1px solid blue;*/
}

.post .post-body {
    margin: 5px 0;
}

.post .post-body img {
    width: 100%;
}
ul#list-groups li a:hover {
    /*color: #1d2129;*/
    text-decoration: none;
}
.panel{
    padding: 0px;
    margin: 0px;
}