@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
	font-family:sans-serif;
	--border_chuan: solid #DDDEE2 1px;
}
.crop {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
table.index{
	counter-reset: section;
}
table.index tbody tr td:first-child::before{
	counter-increment: section;
	content: counter(section);
	font-weight: bold;
}
/*
a{text-decoration:none}

a[href='']{
	background:#E90F0F;
	display:block
}
*[class|="background"]{
	z-index: 0;
}
.background img{
	width: 100%;
	height: 100%;
}
.background-loading{
	z-index: 2;
	background: white;
	opacity: 0.6;
}
.main-loading{
	z-index: 3;
	width: 500px;
	height: 200px;
	margin: auto;
	background: blue;
}
.header{
	background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
	padding: 50px;
	font-size: 20px;
	text-align: center;
	color: white;
}

.header h1{
	font-weight: bold;
}

.header p{
	opacity: 0.7;
}

h1,h2,h3,h4,h5,h6{
	font-weight:500;
	font-size: 36px;
}

.noi-dung{
	position: relative;
	color: white;
}
.text-center{text-align:center;}

ul.menu{
	list-style-type:none;
}

.fixed{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
*/
.danger, .success, .info, .warning {
    margin-bottom: 5px;
    padding: 10px 12px;
}
.aleft{ min-height: 65px; }
.success {background-color: #ddffdd;    border-left: 5px solid #4CAF50;}
.info    {background-color: #e7f3fe;    border-left: 5px solid #2196F3;}
.warning {background-color: #ffffcc;    border-left: 5px solid #ffeb3b;}
.danger  {background-color: #ffdddd;	border-left: 5px solid #f44336;}
/* fade */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
