table{
	counter-reset: section;
}
table tr td.index:before{
	counter-increment: section;
	content: counter(section);
	font-weight: bold;
}
/* loader css */
*{
	--width_border_loading : 15px;
	--width_loading : 120px;
	--height_loading : 120px;
}
#loader {
	
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: var(--width_border_loading) solid blue;
	border-right: var(--width_border_loading) solid green;
	border-bottom: var(--width_border_loading) solid red;
	border-left: var(--width_border_loading) solid pink;
	height: var(--height_loading);
	width: var(--width_loading);
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading{
	margin: auto;
	height: var(--height_loading);
	width: var(--width_loading);
}
.loading #loader{
	position: absolute;
}
#percent{
	line-height: var(--height_loading);
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}