.table-calendar tr th {
    text-align: center;
    background: #a429e2;
    color: #fff;
    vertical-align: middle !important;
}

.table-calendar tbody tr td {
    width: calc(100% / 7);
}

.table-calendar tbody tr td:first-child {
    width: 10px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}


/*.index{
	width: 100%;
	text-align: center;
	color: #fff;
	
}
.day, .date{
	float: left;
	width: calc(100% / 7);
	border-collapse: collapse;
}
.date .monitor{
	border: 1px solid black;
}
.clear{clear: both;}
.calendar tr th {
	background: #a429e2;
	text-align: center;
}
.calendar tbody tr td{
	width: calc( (100%) / 6);
}
.calendar .ca {
	text-align: center;
	vertical-align: auto;
	width: 10px;
}*/